@{
    ViewBag.Title = "Register";
    Layout = null;
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registro</title>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <!-- Estilos CSS -->
    <link rel="stylesheet" href="~/Content/css/modules/_login.css">
    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Content/img/favicon.png" type="image/x-icon">
</head>
<body>
<main>
    <div class="login">
        <h1>Registrate</h1>
        <form action="@Url.Action("Register", "Account")" method="POST" id="register">
            <input type="text" name="usuario" placeholder="Usuario" required="required" />
            <input type="password" name="contrasena" placeholder="Contraseña" required="required" />
            <input type="password" name="contrasena2" placeholder="Repite la Contraseña" required="required" />

            <!-- Agregar el token anti-forgery aquí -->
            @Html.AntiForgeryToken()

            <button type="submit" class="btn btn-primary btn-block btn-large">Registrarse</button>
        </form>
        <p>Ya tienes cuenta?</p>
        <p>
            <a href="@Url.Action("Login", "Account")">Inicia Sesión</a>
        </p>
    </div>
</main>
</body>
</html>