@Html.Partial("~/Views/Shared/_head.cshtml")
<!-- METAS -->
<title>Damos un nuevo paso en la transición energética | PODEROSA</title>
<!-- Basic HTML Meta Tags -->
<meta name='title' content='Minera Poderosa sufre nuevo atentado | PODEROSA' />
<meta name='description' content='La madrugada del domingo 12 de enero de 2025, Compañía Minera Poderosa fue víctima de un nuevo atentado a manos de mineros ilegales coludidos con grupos criminales.' />
<meta name='url' content='https://www.poderosa.com.pe/noticias/minera-poderosa-sufre-nuevo-atentado' />
<meta name='keywords' content='Poderosa, Minería, atentado, dinamitan, torre, tensión' />
<!-- OpenGraph Meta Tags -->
<meta property='og:type' content='website' />
<meta property='og:title' content='Minera Poderosa sufre nuevo atentado | PODEROSA' />
<meta property='og:description' content='La madrugada del domingo 12 de enero de 2025, Compañía Minera Poderosa fue víctima de un nuevo atentado a manos de mineros ilegales coludidos con grupos criminales.' />
<meta property='og:url' content='https://www.poderosa.com.pe/noticias/minera-poderosa-sufre-nuevo-atentado' />
<meta property='og:image' content='https://www.poderosa.com.pe/Content/noticias/minera-poderosa-sufre-nuevo-atentado/banner.png' />
</head>
<body>
    <div class="menuSecuVelo"></div>
    @Html.Partial("~/Views/Shared/_header.cshtml")
    <section class="pt-4">
        <div class="noticias-banner">
            <div class="bg-gris-oscuro-4">
                <h1 class="fuente-3 noticias-banner-texto">
                    Damos un nuevo paso en la transición energética
                </h1>
            </div>
            <div class="noticia-banner-img">
                <img src="~/Content/noticias/damos-un-nuevo-paso-en-la-transicion-energetica/banner.jpg" alt="" class="img-fluid">
            </div>
        </div>
        <div class="noticia-container">
            <div class="noticia-container-texto">
                <div>
                    <h6 class="mayuscula mt-4 fuente-3">24 de Febrero de 2025</h6>
                </div>
                <h5 class="dorado">Damos un nuevo paso en la transición energética</h5>
                <p> Anunciamos con orgullo la llegada de la  <strong class="fuente-3">primera pickup 4x4 100% eléctrica</strong>  a nuestra Unidad Minera, consolidando nuestro compromiso con una minería más sostenible y eficiente.</p>
                <p> Desde mayo de 2024, iniciamos nuestros <strong class="fuente-3">plan de migración a energías limpias en el transporte</strong>, incorporando el primer <strong class="fuente-3">bus 100% eléctrico de Modasa </strong> para 33 pasajeros. Este proyecto piloto viene demostrando un desempeño exitoso en el transporte de personal, un aspecto clave considerando que, en el último inventario del 2023, el  <strong class="fuente-3">transporte representó cerca del 42% de nuestras emisiones de Gases de Efecto Invernadero.</strong></p>
                <p>Como parte de nuestra estrategia de sostenibilidad, continuamos integrando <strong class="fuente-3">vehículos eléctricos </strong> en nuestras operaciones. Actualmente, contamos con <strong class="fuente-3">51 locomotoras eléctricas,</strong>  y en <strong class="fuente-3">febrero de 2025 </strong> incorporamos la <strong class="fuente-3">primera pickup 4x4 100% eléctrica del sector minero del país  </strong></p>
                <p>Este nuevo vehículo,<strong class="fuente-3">Voltera R7,</strong>  combina <strong class="fuente-3">potencia, autonomía y adaptabilidad,</strong> respondiendo a las exigencias de nuestras operaciones en terrenos desafiantes. Con esta incorporación, avanzamos hacia una <strong class="fuente-3">flota de transporte más sostenible,</strong> alineada con nuestro objetivo de ser <strong class="fuente-3">carbono neutral al 2050.</strong></p>
                <p>En Poderosa, seguimos liderando el cambio hacia una<strong class="fuente-3">minería más limpia y responsable con el planeta.</strong> </p>
                <br>
            </div>
        </div>
    </section>
    <div class="d-flex justify-content-center mt-1">
        <div class="d-flex align-items-center gap-2">
            <p class="mb-2 text-center">Comparte en:</p>
            @Html.Partial("~/Views/Shared/_redes.cshtml")
        </div>
    </div>
    <section class=" py-5">
        <div class="container">
            <div class="contenedor-noticias py-5">
                <div class="contenedor-noticias-titulo pb-3">
                    <h1 class="fuente-3">
                        Lo último
                    </h1>
                    <a href="https://www.poderosa.com.pe/noticias/index" class="fuente-5 button-ver-mas d-flex align-items-center">
                        Ver más noticias <img src="~/Content/img/home/icono.svg" alt="" class="icono img-fluid">
                    </a>
                </div>
                <div class="row  ">
                    <div class="col-12 col-md-6 col-lg-4 mb-5">
                        <a href="https://www2.poderosa.com.pe:8081/noticias/damos-un-nuevo-paso-en-la-transicion-energetica" class="text-decoration-none">
                            <img src="~/Content/noticias/damos-un-nuevo-paso-en-la-transicion-energetica/resumen.jpg"
                                 alt=""
                                 class="img-fluid contenedor-noticias-img zoom-img">
                            <h5 class="fuente-3 mt-2">
                                Damos un nuevo paso en la transición energética
                            </h5>
                        </a>
                        <p class="fuente-4">
                            Llegó nuestra primera pickup 4x4 eléctrica
                        </p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 mb-5">
                        <a href="https://www2.poderosa.com.pe:8081/noticias/jimena-sologuren-tenemos-recursos-para-cambiar-vidas" class="text-decoration-none">
                            <img src="~/Content/noticias/jimena-sologuren-tenemos-recursos-para-cambiar-vidas/resumen.jpg"
                                 alt=""
                                 class="img-fluid contenedor-noticias-img zoom-img">
                            <h5 class="fuente-3 mt-2">
                                Jimena Sologuren tenemos recursos para cambiar vidas
                            </h5>
                        </a>
                        <p class="fuente-4">
                            Falta inversión pública responsable y transparente
                        </p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 mb-5">
                        <a href="https://www2.poderosa.com.pe:8081/noticias/mineros-ilegales-dinamitan-otra-torre-de-alta-tension" class="text-decoration-none">
                            <img src="~/Content/noticias/mineros-ilegales-dinamitan-otra-torre-de-alta-tension/2do-atentado-enero-lista.png" alt="" class="img-fluid contenedor-noticias-img zoom-img">
                            <h5 class="fuente-3 mt-2">
                                Mineros ilegales dinamitan otra torre de alta tensión
                            </h5>
                        </a>
                        <p class="fuente-4">
                            Mineros ilegales dinamitan torre, afectan suministro eléctrico
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    @Html.Partial("~/Views/Shared/_footer.cshtml")
</body>
@Html.Partial("~/Views/Shared/_foot.cshtml")
</html>