@Html.Partial("~/Views/Shared/_head.cshtml")
<!-- METAS -->
<title>Fallecimiento del Director de Minera Poderosa | PODEROSA</title>
<!-- Basic HTML Meta Tags -->
<meta name='title' content='Fallecimiento del Director de Minera Poderosa | PODEROSA' />
<meta name='description' content='Desde Minera Poderosa lamentamos profundamente el sensible fallecimiento de nuestro Director por más de 24 años, Ing. Juan Antonio Assereto Duharte. Extendemos el más sentido pésame a sus familiares, y los acompañamos en el dolor ante esta irreparable pérdida. Deseamos que la paz pueda llegar a sus corazones.' />
<meta name='url' content='https://www.poderosa.com.pe/noticias/fallecimiento-director' />
<meta name='keywords' content='Poderosa, Minería, fallecimiento, director, condolencias' />
<!-- OpenGraph Meta Tags -->
<meta property='og:type' content='website' />
<meta property='og:title' content='Fallecimiento del Director de Minera Poderosa | PODEROSA' />
<meta property='og:description' content='Desde Minera Poderosa lamentamos profundamente el sensible fallecimiento de nuestro Director por más de 24 años, Ing. Juan Antonio Assereto Duharte. Extendemos el más sentido pésame a sus familiares, y los acompañamos en el dolor ante esta irreparable pérdida. Deseamos que la paz pueda llegar a sus corazones.' />
<meta property='og:url' content='https://www.poderosa.com.pe/noticias/fallecimiento-director' />
<meta property='og:image' content='https://www.poderosa.com.pe/Content/noticias/fallecimiento-director/banner.png' />
</head>
<body>

    <div class="menuSecuVelo"></div>
    @Html.Partial("~/Views/Shared/_header.cshtml")
    <section class="pt-4">
        <div class="noticias-banner">
            <div class="bg-gris-oscuro-4">
                <h1 class="fuente-3 noticias-banner-texto">
                    Lamentamos el fallecimiento de nuestro Director, Ing. Juan Assereto
                </h1>
            </div>
            <div class="noticia-banner-img">    
                <img src="~/Content/noticias/fallecimiento-director/banner.jpg" alt="" class="img-fluid">
            </div>
        </div>
        <div class="noticia-container">
            <div class="noticia-container-texto">
                <p>
                    Desde Minera Poderosa lamentamos profundamente el sensible fallecimiento de nuestro Director por más de 24 años, Ing. Juan Antonio Assereto Duharte.
                </p>
                <p>
                    Extendemos el más sentido pésame a sus familiares, y los acompañamos en el dolor ante esta irreparable pérdida. Deseamos que la paz pueda llegar a sus corazones.
                </p>
                <p class="text-right mb-2"><strong>COMPAÑÍA MINERA PODEROSA S.A.</strong></p>
                <p class="text-right">Pataz, 2025</p>
                <br>
            </div>
        </div>
    </section>
    <div class="d-flex justify-content-center mt-1">
        <div class="d-flex align-items-center gap-2">
            <p class="mb-2 text-center">Comparte en:</p>
            @Html.Partial("~/Views/Shared/_redes.cshtml")
        </div>
    </div>
    <section class=" py-5">
        <div class="container">
            <div class="contenedor-noticias py-5">
                <div class="contenedor-noticias-titulo pb-3">
                    <h1 class="fuente-3">
                        Lo último
                    </h1>
                    <button class="fuente-5 button-ver-mas">
                        Ver más noticias <a href="https://www.poderosa.com.pe/noticias/index" class="icono"><img src="~/Content/img/home/icono.svg" alt="" class="img-fluid"></a>
                    </button>
                </div>
                <div class="row  ">
                    <div class="col-12 col-md-6 col-lg-4 mb-5">
                        <a href="https://www2.poderosa.com.pe:8081/noticias/damos-un-nuevo-paso-en-la-transicion-energetica" class="text-decoration-none">
                            <img src="~/Content/noticias/damos-un-nuevo-paso-en-la-transicion-energetica/resumen.jpg"
                                 alt=""
                                 class="img-fluid contenedor-noticias-img zoom-img">
                            <h5 class="fuente-3 mt-2">
                                Damos un nuevo paso en la transición energética
                            </h5>
                        </a>
                        <p class="fuente-4">
                            Llegó nuestra primera pickup 4x4 eléctrica
                        </p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 mb-5">
                        <a href="https://www2.poderosa.com.pe:8081/noticias/jimena-sologuren-tenemos-recursos-para-cambiar-vidas" class="text-decoration-none">
                            <img src="~/Content/noticias/jimena-sologuren-tenemos-recursos-para-cambiar-vidas/resumen.jpg"
                                 alt=""
                                 class="img-fluid contenedor-noticias-img zoom-img">
                            <h5 class="fuente-3 mt-2">
                                Jimena Sologuren tenemos recursos para cambiar vidas
                            </h5>
                        </a>
                        <p class="fuente-4">
                            Falta inversión pública responsable y transparente
                        </p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 mb-5">
                        <a href="https://www2.poderosa.com.pe:8081/noticias/mineros-ilegales-dinamitan-otra-torre-de-alta-tension" class="text-decoration-none">
                            <img src="~/Content/noticias/mineros-ilegales-dinamitan-otra-torre-de-alta-tension/2do-atentado-enero-lista.png" alt="" class="img-fluid contenedor-noticias-img zoom-img">
                            <h5 class="fuente-3 mt-2">
                                Mineros ilegales dinamitan otra torre de alta tensión
                            </h5>
                        </a>
                        <p class="fuente-4">
                            Mineros ilegales dinamitan torre, afectan suministro eléctrico
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    @Html.Partial("~/Views/Shared/_footer.cshtml")
    </>
    @Html.Partial("~/Views/Shared/_foot.cshtml")
    </html>
