/proyecto_poderosa_documento/Content/
/proyecto_poderosa_documento/App_Data/
/proyecto_poderosa_documento/Controllers/
/proyecto_poderosa_documento/Models/
/proyecto_poderosa_documento/Properties/
/proyecto_poderosa_documento/Scripts/
.vs/