USE [master]
GO
/****** Object:  Database [Poderosa]    Script Date: 4/10/2025 12:39:27 PM ******/
CREATE DATABASE [Poderosa]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Poderosa', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Poderosa.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Poderosa_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Poderosa_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Poderosa].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Poderosa]
GO
/****** Object:  Table [dbo].[Noticias]    Script Date: 4/10/2025 12:39:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Noticias](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [nvarchar](255) NOT NULL,
	[Descripcion] [nvarchar](500) NULL,
	[Contenido] [nvarchar](max) NOT NULL,
	[FechaPublicacion] [datetime] NULL,
	[Imagen] [nvarchar](255) NULL,
	[ImagenResumen] [nvarchar](255) NULL,
	[FechaNoticia] [datetime] NULL,
	[UsuarioId] [int] NULL,
	[ImagenesCarrusel] [nvarchar](max) NULL,
	[ImagenesCompartir] [nvarchar](255) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PopUp]    Script Date: 4/10/2025 12:39:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PopUp](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombrePopUp] [nvarchar](255) NOT NULL,
	[Url] [nvarchar](500) NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[Imagen] [nvarchar](255) NULL,
	[IsActive] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 4/10/2025 12:39:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[nivel] [int] NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 4/10/2025 12:39:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [nvarchar](255) NOT NULL,
	[Contrasena] [nvarchar](255) NOT NULL,
	[RolId] [int] NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Noticias] ON 

SET IDENTITY_INSERT [dbo].[Noticias] OFF
GO
SET IDENTITY_INSERT [dbo].[PopUp] ON 

INSERT [dbo].[PopUp] ([Id], [NombrePopUp], [Url], [UsuarioId], [FechaCreacion], [Imagen], [IsActive]) VALUES (1, N'PopUp', N'https://google.com', 1, CAST(N'2025-03-21T12:07:28.010' AS DateTime), N'~/Content/popups/junta-accionistas.png', 0)
INSERT [dbo].[PopUp] ([Id], [NombrePopUp], [Url], [UsuarioId], [FechaCreacion], [Imagen], [IsActive]) VALUES (2, N'PopUp', N'https://google.com', 1, CAST(N'2025-03-21T12:40:53.047' AS DateTime), N'~/Content/popups/junta-accionistas.png', 0)
INSERT [dbo].[PopUp] ([Id], [NombrePopUp], [Url], [UsuarioId], [FechaCreacion], [Imagen], [IsActive]) VALUES (3, N'PopUp', N'https://www.poderosa.com.pe/', 1, CAST(N'2025-03-21T14:08:37.733' AS DateTime), N'~/Content/popups/junta-accionistas.png', 0)
SET IDENTITY_INSERT [dbo].[PopUp] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([id], [nombre], [nivel]) VALUES (1, N'Admin', 1)
INSERT [dbo].[Roles] ([id], [nombre], [nivel]) VALUES (2, N'Editor', 2)
INSERT [dbo].[Roles] ([id], [nombre], [nivel]) VALUES (3, N'Usuario', 3)
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([Id], [NombreUsuario], [Contrasena], [RolId]) VALUES (1, N'admin', N'123456', 1)
INSERT [dbo].[Usuarios] ([Id], [NombreUsuario], [Contrasena], [RolId]) VALUES (2, N'test', N'123456', 2)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
/****** Object:  Index [UQ__Roles__45ACCC6409028371]    Script Date: 4/10/2025 12:39:27 PM ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[nivel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Roles__45ACCC6485DC49AC]    Script Date: 4/10/2025 12:39:27 PM ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[nivel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__72AFBCC69BD1227B]    Script Date: 4/10/2025 12:39:27 PM ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__72AFBCC6DF399AA8]    Script Date: 4/10/2025 12:39:27 PM ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__72AFBCC6F15C0F6D]    Script Date: 4/10/2025 12:39:27 PM ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PopUp] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[PopUp] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((3)) FOR [RolId]
GO
ALTER TABLE [dbo].[Noticias]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Noticia] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Noticias] CHECK CONSTRAINT [FK_Usuario_Noticia]
GO
ALTER TABLE [dbo].[PopUp]  WITH CHECK ADD FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Roles] FOREIGN KEY([RolId])
REFERENCES [dbo].[Roles] ([id])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Roles]
GO
USE [master]
GO
