@Html.Partial("~/Views/Shared/_head.cshtml")
<!-- METAS -->
<title>Políticas de cookies | PODEROSA</title>
<!-- Basic HTML Meta Tags -->
<meta name='title' content='Políticas de cookies | PODEROSA' />
<meta name='description' content='Coleccionables' />
<meta name='url' content='http://www.poderosa.com.pe/politicas/politica-cookies' />
<meta name='keywords' content='Coleccionables, pataz, poderosa' />
<!-- OpenGraph Meta Tags -->
<meta property='og:type' content='website' />
<meta property='og:title' content='Coleccionables | PODEROSA' />
<meta property='og:description' content='Coleccionables' />
<meta property='og:url' content='http://www.poderosa.com.pe/politicas/politica-cookies' />
<meta property='og:image' content='http://www.poderosa.com.pe/Content/img/compartir.jpg' />
</head>
<body>
    <div class="menuSecuVelo"></div>
    @Html.Partial("~/Views/Shared/_header.cshtml")
    <main>
        <div class="pt-4 ">
            <div class="bannerInterno__contenedor">
                <img src="~/Content/img/cabeceras/05-publicaciones/01.png" class="img-fluid  w-100 d-none  d-lg-block" alt="">
                <img src="~/Content/img/cabeceras/05-publicaciones/01-tablet.png" class="img-fluid  d-none d-md-block d-sm-none d-lg-none" alt="">
                <img src="~/Content/img/cabeceras/05-publicaciones/01-movil.png" class="img-fluid  d-block d-md-none d-lg-none" alt="">
                <img src="~/Content/img/cabeceras/05-publicaciones/forma-gris-transparente.png" class="img-fluid bannerInterno__dorada" alt="...">
                <div class="bannerInterno__texto">
                    <h1 class="bannerInterno__titulo-largo  fuente-3">
                        Políticas de cookies
                    </h1>
                </div>
                <img src="~/Content/img/cabeceras/forma-gris.png" class="img-fluid bannerInterno__small" alt="">
            </div>
        </div>

        <section class="py-5">
            <div class="container">
                <div class=" text-center pb-5">
                    <p class="fuente-4  text-start">
                        Queremos informarte de manera clara y detallada sobre las cookies que utilizamos en nuestra página web y cómo tratamos de forma
                        segura cualquier información relacionada con tu navegación.
                    </p>
                    <p class="fuente-4  text-start">El uso de cookies, tanto propias como de terceros, nos ayuda a mejorar nuestro servicio y brindarte una mejor experiencia.</p>
                    <br>
                    <h4 class="fuente-3 dorado">¿Qué son las cookies?</h4>
                    <p class="text-start">
                        Las cookies son pequeños archivos de texto con información sobre tus acciones de navegación. Cada vez que ingresas a un sitio web, estas se almacenan en tu
                        computador o dispositivo móvil. Estas cookies ahora contienen información sobre tu visita, por ejemplo, tu preferencia de idioma. Cuando vuelvas a ingresar al sitio web,
                        las cookies permitirán que se te muestre información relevante que mejore tu experiencia de navegación.
                    </p>
                    <h4 class="fuente-3 dorado">¿Por qué son importantes?</h4>
                    <p class="text-start">
                        Las cookies nos permiten:
                    </p>
                    <ul class="text-start">
                        <li>
                            Proteger tus datos, la seguridad de tu navegación y tu cuenta al almacenarlos directamente en tus dispositivos.
                        </li>
                        <li>
                            Conocer y entender cómo interactúas con nuestros productos y servicios, y así poder mejorar tu experiencia en tus futuras visitas.
                        </li>
                    </ul>
                    <h4 class="fuente-3 dorado">¿Puedo administrar las cookies?</h4>
                    <p class="text-start">
                        La mayoría de navegadores están configurados para aceptar las cookies por defecto. Sin embargo, cuentan con configuraciones de seguridad
                        que te permiten evitar su instalación en tu computador o dispositivo móvil. Ten en cuenta que, si decides rechazar las cookies, se podrían
                        bloquear algunas funcionalidades de la página web o limitarte el acceso a ciertos contenidos.
                    </p>
                    <p class="text-start">
                        Puedes desactivar las cookies de acuerdo al navegador que utilices
                    </p>
                    <h4 class="fuente-3 dorado">¿Qué tipo de cookies usamos?</h4>
                    <p class="text-start">
                        COMPAÑÍA MINERA PODEROSA S.A. (en adelante, PODEROSA) utiliza los siguientes tipos de cookies:
                    </p>
                    <ul class="text-start">
                        <li>
                            Categoría: Preferencias (1): Las cookies de preferencias permiten a la página web recordar información que
                            cambia la forma en que la página se comporta o el aspecto que tiene.
                            <br />
                            <table style="width:100%; border-collapse:collapse; margin-top:10px;">
                                <thead>
                                    <tr>
                                        <th style="background:#3d4a5a; color:#fff; border:1px solid #222; padding:6px; text-align:left;">Proveedor</th>
                                        <th style="background:#3d4a5a; color:#fff; border:1px solid #222; padding:6px; text-align:left;">¿Para qué se utiliza?</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="border:1px solid #222; padding:6px;">poderosa.com.pe</td>
                                        <td style="border:1px solid #222; padding:6px;">
                                            Registra la visita al sitio para no repetir la aparición<br> de modals con mensajes cuando ya se han<br> mostrado.
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </li>
                        <br />
                        <li>
                            Categoría: Estadística (3): Las cookies estadísticas ayudan a los propietarios de páginas web a comprender
                            cómo interactúan los visitantes con las páginas web reuniendo y proporcionando información de forma anónima.
                            <br />
                            <table style="width:100%; border-collapse:collapse; margin-top:10px;">
                                <thead>
                                    <tr>
                                        <th style="background:#3d4a5a; color:#fff; border:1px solid #222; padding:6px; text-align:left;">Proveedor</th>
                                        <th style="background:#3d4a5a; color:#fff; border:1px solid #222; padding:6px; text-align:left;">¿Para qué se utiliza?</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="border:1px solid #222; padding:6px;">poderosa.com.pe</td>
                                        <td style="border:1px solid #222; padding:6px;">
                                            Registra la visita al sitio para no repetir la aparición<br> de modals con mensajes cuando ya se han<br> mostrado.
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </li>
                    </ul>
                    <br>
                    <strong class="fuente-3 d-block text-start">Consentimiento</strong>
                    <br>
                    <p class="text-start">
                        PODEROSA puede tratar la información recopilada a través de “Cookies”, siempre que el Usuario brinde su consentimiento al ingresar a cualquiera de nuestros sitios web, salvo en los casos, de ser el caso, en que las “Cookies” sean necesarias para la operatividad y navegación de las mismas.
                        En caso de que el Usuario preste su consentimiento, PODEROSA podrá utilizar “Cookies” que permitan obtener información acerca de sus preferencias, con el fin de personalizar nuestro sitio web, de acuerdo con sus intereses.
                    </p>
                    <strong class="fuente-3 d-block text-start">Modificaciones</strong>
                    <br>
                    <p class="text-start">
                        La presente Política ha sido actualizada el 14 de mayo de 2025 y podrá ser modificada por PODEROSA. Cualquier cambio o modificación será publicado en nuestro portal web: www.poderosa.com.pe.
                    </p>
                    <strong class="fuente-3 d-block text-start">Disclaimer de Cookies</strong>
                    <br>
                    <p class="text-start">
                        Las cookies de este sitio web, que son pequeños archivos que se almacenan en las computadoras, nos permiten recordar características o preferencias de la navegación
                        que tienes en nuestra web. Gracias a esto podemos personalizar los ingresos a la web en futuras visitas, hacer más segura la navegación y conocer tus preferencias para
                        ofrecerte información de tu interés. Puedes aceptar o rechazar la instalación de cookies o suprimirlos una vez que hayas finalizado la navegación en nuestro sitio web.
                        COMPAÑÍA MINERA PODEROSA S.A. no se responsabiliza de que la desactivación de las cookies pueda impedir el buen funcionamiento de nuestra web.
                    </p>
                </div>
            </div>
        </section>
    </main>
    @Html.Partial("~/Views/Shared/_footer.cshtml")
</body>
@Html.Partial("~/Views/Shared/_foot.cshtml")