@Html.Partial("~/Views/Shared/_head.cshtml")
<!-- METAS -->
<title>Poderosa | PODEROSA</title>
<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
<!-- Basic HTML Meta Tags -->
<meta name='title' content='Poderosa | PODEROSA' />
<meta name='description' content='Somos una empresa minera aurífera ubicada en el distrito y provincia de Pataz, La Libertad, Perú, operando a altitudes entre 1,250 y 3,000 metros sobre el nivel del mar. Nuestra operación cuenta con tres unidades de producción: Marañón, Santa María y Palca. Contamos con oficinas administrativas y almacenes ubicados en Lima y Trujillo, lo que fortalece nuestra presencia regional y nacional, y consolida nuestra posición como actor clave en la minería peruana.' />
<meta name='url' content='http://www.poderosa.com.pe/quienes-somos/poderosa' />
<meta name='keywords' content='poderosa, misión, visión, valores, políticas, declaracion de sostenibilidad, código de ética y conducta, política de cumplimiento' />
<!-- OpenGraph Meta Tags -->
<meta property='og:type' content='website' />
<meta property='og:title' content='Poderosa | PODEROSA' />
<meta property='og:description' content='Somos una empresa minera aurífera peruana que, desde 1980, se dedica a explotar, extraer, procesar y comercializar minerales.' />
<meta property='og:url' content='http://www.poderosa.com.pe/quienes-somos/poderosa' />
<meta property='og:image' content='http://www.poderosa.com.pe/Content/img/01-quienes-somos/quienes-somos/compartir.jpg' />
</head>
<body>
    <div class="menuSecuVelo"></div>
    @Html.Partial("~/Views/Shared/_header.cshtml")
    <div class="pt-4">
        <div class="bannerInterno__contenedor">
            <img src="~/Content/img/cabeceras/01-quienes-somos/quienes-somos/01.jpg" class="img-fluid  w-100 d-none  d-lg-block" alt="">
            <img src="~/Content/img/cabeceras/01-quienes-somos/quienes-somos/01-tablet.jpg" class="img-fluid  d-none d-md-block d-sm-none d-lg-none" alt="">
            <img src="~/Content/img/cabeceras/01-quienes-somos/quienes-somos/01-movil.jpg" class="img-fluid  d-block d-md-none d-lg-none" alt="">
            <img src="~/Content/img/pagina-interna/forma-dorada-transparente.png" class="img-fluid bannerInterno__dorada" alt="...">
            <div class="bannerInterno__texto">
                <h1 class="bannerInterno__titulo fuente-3">
                    Quiénes somos
                </h1>
            </div>
            <img src="~/Content/img/pagina-interna/forma-dorada.png" class="img-fluid bannerInterno__small" alt="">
        </div>
    </div>

    <section class="section-spacing">
        <div class="container text-center ">
            <div class="row ">
                <div class="col-sm-6 fuente-4 text-start">
                    Somos una empresa minera aurífera ubicada en el distrito y provincia de Pataz, La Libertad, Perú, operando a altitudes entre 1,250 y 3,000 metros sobre el nivel del mar. Nuestra operación cuenta con tres unidades de producción: Marañón, Santa María y Palca. Contamos con oficinas administrativas y almacenes ubicados en Lima y Trujillo, lo que fortalece nuestra presencia regional y nacional, y consolida nuestra posición como actor clave en la minería peruana.</p>
                </div>
                <div class="col-sm-6 fuente-4 text-start">
                    <p>En Poderosa, contamos con una fuerza laboral compuesta por más de 8,008 personas, entre personal de nuestras contratistas y personal de planilla Poderosa, quienes desempeñan roles cruciales en diversas fases de la cadena de valor minera. Nos enorgullecemos de nuestra identidad como mineros responsables, dedicados a generar valor mientras minimizamos el impacto ambiental y fomentamos el bienestar de nuestras comunidades.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="section-spacing-bottom">
        <div class="container">
            <div class="row ">
                <div class="col-lg-6  ">
                    <div class="linea-dorada">
                        <h2 class="fuente-3 dorado">Visión:</h2>
                        <div class="row ">
                            <div class="col-4">
                                <img src="~/Content/img/01-quienes-somos/quienes-somos/icono-01.jpg" alt="" class="img-fluid">
                            </div>
                            <div class="col-8">
                                <p class="funte-4 ">
                                    Ser la empresa en la que te sientas orgulloso de trabajar.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="linea-dorada-der">
                        <h2 class="fuente-3 dorado">Propósito</h2>
                        <div class="row">
                            <div class="col-4">
                                <img src="~/Content/img/01-quienes-somos/quienes-somos/icono-02.jpg" alt="" class="img-fluid">
                            </div>
                            <div class="col-8">
                                <p class="fuente-4">
                                    Transformamos responsablemente nuestra riqueza mineral en oportunidades de desarrollo y bienestar.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-spacing-bottom">
        <div class="container text-center ">
            <div class="row ">
                <div class="col-12 col-lg-4 text-start">

                    <h2 class="fuente-3 dorado">Eiti - Transparencia</h2>
                    <img src="~/Content/img/01-quienes-somos/quienes-somos/eiti-peru-poderosa.png" alt="">
                </div>
                <div class="col-12 col-lg-4  fuente-4 text-start">
                    <p> La rendición de cuentas y transparencia son pilares fundamentales del quehacer corporativo que promueven el desarrollo, la confianza y la convivencia social. Es por ello que desde el 2011 participamos voluntaria y activamente en la implementación de esta iniciativa de la que el Perú es pionero en la región. El EITI es un esfuerzo del que participan representantes de estados, empresas de los sectores extractivos y</p>
                </div>
                <div class=" col-12 col-lg-4  fuente-4 text-start">
                    <p> distintos grupos representativos de la sociedad civil. Su implementación promueve la transparencia y la rendición de cuentas de las empresas mineras, petrolíferas y gasíferas, y de los estados respecto a los ingresos recibidos de parte de las industrias extractivas. De esta manera, el EITI contribuye significativamente a fortalecer la gobernanza de estas importantes actividades económicas.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="section-spacing-bottom">
        <div class="container">
            <div class=" text-center">
                <h2 class="fuente-3 dorado pb-2">Principios y Valores Corporativos</h2>
                <p class="fuente-4 pb-3 text-center "> Nuestros principios y valores corporativos son los cimientos que moldean nuestra cultura organizacional y guían nuestro actuar en el día a día.</p>
            </div>
        </div>
        <div class="bloque-de-4">
            <div class="row">
                <div class="col-lg-6 bg-gris-oscuro-4 ">
                    <div class="bloque-de-4-derecho">
                        <h2 class="fuente-3 dorado ">Respetamos</h2>
                        <p class="fuente-4 blanco">Respetamos a las personas y a nuestro entorno, valorando todas las ideas, opiniones y trabajo de los demás, desde la empatía, generando la confianza a todo nivel.</p>
                    </div>
                </div>
                <div class="col-lg-6 bg-gris-2 ">
                    <div class="bloque-de-4-izquierdo">
                        <h2 class="fuente-3 dorado">Íntegros siempre</h2>
                        <p class="fuente-4 blanco">Hacemos lo correcto, actuando con ética y honestidad.</p>
                    </div>
                </div>
            </div>
            <div class="bloque-de-4-img">
                <img src="~/Content/img/pagina-interna-4/icono-dorado-transparente.png" alt="" class="img-fluid ">
            </div>
        </div>
        <div class="bloque-de-4">
            <div class="row ">
                <div class="col-lg-6 bg-gris-2">
                    <div class="bloque-de-4-derecho">
                        <h2 class="fuente-3 dorado ">Seguridad Primero </h2>
                        <p class="fuente-4 blanco "> Priorizamos la vida en todo momento y lugar. Estamos comprometidos con el bienestar integral de todas las personas con las que nos relacionamos. </p>
                    </div>
                </div>
                <div class="col-lg-6  bg-gris-oscuro-4 ">
                    <div class="bloque-de-4-izquierdo">
                        <h2 class="fuente-3 dorado">Somos Responsables</h2>
                        <p class="fuente-4 blanco"> Asumimos con responsabilidad toda acción y decisión que tomamos. Somos responsables sobre todo en lo que involucra a nuestras operaciones. </p>
                    </div>
                </div>
            </div>
            <div class="bloque-de-4-img">
                <img src="~/Content/img/pagina-interna-4/icono-dorado-transparente.png" alt="" class="img-fluid ">
            </div>
        </div>
        <div class="bloque-de-4">
            <div class="row ">
                <div class="col-lg-6 bg-gris-oscuro-4">
                    <div class="bloque-de-4-derecho">
                        <h2 class="fuente-3 dorado">Colaboramos</h2>
                        <p class="fuente-4 blanco">Avanzamos hacia un objetivo común, agregando valor a nuestros procesos, mostrando buena disposición para el trabajo conjunto y reconociendo el éxito de los demás. </p>
                    </div>
                </div>
                <div class="col-lg-6  p-0 bloque-de-4-foto bg-gris-oscuro-4">
                    <img src="~/Content/img/01-quienes-somos/quienes-somos/03.jpg" alt="" class="img-fluid  h-100">
                </div>
            </div>
            <div class="bloque-de-4-img">
                <img src="~/Content/img/pagina-interna-4/icono-dorado-transparente.png" alt="" class="img-fluid ">
            </div>
        </div>
    </section>
    <section id="politicas" class="position-relative section-spacing-bottom">
        <div class="offset-lg-0 pb-5 text-center">
            <h2 class="fuente-3 dorado text-center">Políticas, compromisos y lineamientos internos</h2>
            <p class="fuente-4 text-center">En Poderosa, la sostenibilidad guía nuestra gestión. Actuamos con responsabilidad empresarial, comunicando de forma continua nuestras políticas y lineamientos<br> a todos los grupos de interés y fortaleciendo capacidades para su cumplimiento. Extendemos este compromiso a nuestra cadena de valor, promoviendo<br> prácticas éticas y sostenibles entre proveedores y aliados</p>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-10">
                    <div class="accordion" id="accordion-4">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button bg-dorado-2 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Política de Gestión
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordion-4">
                                <div class="accordion-body bg-crema">
                                    <p class="fuente-4">
                                        Somos una empresa minera principalmente de oro, tenemos <strong class="fuente-3">el propósito</strong> de transformar responsablemente nuestra riqueza mineral en oportunidades de desarrollo y bienestar. Buscamos la sostenibilidad de nuestras operaciones, promoviendo la cultura de innovación en nuestros procesos, para lo cual nos comprometemos en:
                                    </p>
                                    <ul>
                                        <li>Enfocar todo esfuerzo al cumplimiento de nuestra visión, <strong class="fuente-3">propósito,</strong> declaración de sostenibilidad, principios y valores establecidos, y al logro de nuestros objetivos estratégicos.</li>
                                        <li>Demostrar liderazgo visible de la línea de mando <strong class="fuente-3">con integridad en nuestro actuar</strong>, responsabilidad en seguridad, salud ocupacional, gestión ambiental y la calidad en los procesos.</li>
                                        <li>Reconocer nuestros grupos de interés, sus necesidades, expectativas, requisitos, procurando su satisfacción <strong class="fuente-3">y colaborando</strong> para que sean gestores de su desarrollo.</li>
                                        <li>Desarrollar el trabajo en equipo y la práctica COLPA (5S) para su aplicación en el trabajo diario.</li>
                                        <li>Mejorar continuamente el desempeño de los sistemas integrados de gestión.</li>
                                        <li>Cumplir <strong class="fuente-3">y respetar</strong> el marco legal aplicable, <strong class="fuente-3">los Derechos Humanos</strong> y otros requisitos voluntariamente establecidos, en todas las actividades que se realicen en nuestra organización.</li>
                                        <li>Comunicar y explicar nuestras políticas a toda persona que trabaja para Poderosa, además de ponerlas a disposición de nuestros grupos de interés.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button bg-dorado-oscuro-2 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    Política de Calidad
                                </button>
                            </h2>
                            <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordion-4">
                                <div class="accordion-body bg-crema">
                                    <ul>
                                        <li>
                                            <p class="fuente-4">
                                                Desarrollar de manera conjunta con nuestros colaboradores, procesos eficaces, productos y servicios que son parte de una cadena productiva responsable para cumplir con las expectativas de nuestros grupos de interés, adaptándonos a los cambios en la estrategia y gestión de procesos innovadores.
                                            </p>
                                        </li>
                                        <li>
                                            <p class="fuente-4">Fomentar la innovación en todo lo que hacemos.</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button bg-dorado-claro collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    Política de Medio Ambiente
                                </button>
                            </h2>
                            <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordion-4">
                                <div class="accordion-body bg-crema">
                                    <ul>
                                        <li>
                                            <p class="fuente-4">
                                                Proteger el medio ambiente, previniendo, reduciendo y mitigando los impactos negativos <strong class="fuente-3">y las emisiones</strong> que generamos.
                                            </p>
                                        </li>
                                        <li>
                                            <p class="fuente-4">
                                                Promover el uso responsable y sostenible de los recursos naturales <strong class="fuente-3">y materiales,</strong> desde la perspectiva del ciclo de vida de nuestros productos, <strong class="fuente-3">con la implementación de la economía circular en nuestros procesos.</strong>
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button bg-dorado-2 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                    Política de Seguridad y Salud Ocupacional
                                </button>
                            </h2>
                            <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordion-4">
                                <div class="accordion-body bg-crema">
                                    <ul>
                                        <li>
                                            <p class="fuente-4">
                                                Prevenir todo tipo de lesiones, enfermedades e incidentes relacionados con el trabajo, identificando y eliminando en la medida de lo posible los peligros; evaluando y controlando los riesgos en nuestros procesos.
                                            </p>
                                        </li>
                                        <li>
                                            <p class="fuente-4">
                                                Promover la participación y consulta de los colaboradores para mantener instalaciones y labores bajo condiciones de trabajo seguras y saludables.
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-start mt-4">
                        <a href="~/Content/descargas/poderosa/politica-de-gestion.pdf" class="button-flecha" target="_blank">
                            Descargar
                            <span class="button-flecha_icon button-flecha-dorado">▶</span>
                        </a>
                    </div>
                    <br>
                    <div class="container-custom2 text-start">
                        <div class="row g-3 align-items-center">
                            <!-- Cambié g-0 a g-3 para agregar espacio uniforme -->
                            <div class="col">
                                <img src="~/Content/img/pagina-interna/iconos-circulos.png" alt="" class="img-fluid">
                                <p class="m-0">
                                    <strong class="fuente-3">Rev. 08</strong>
                                </p>
                                <p class="m-0">
                                    <strong class="fuente-3">Enero 2025</strong>
                                </p>
                            </div>
                        </div>
                        <div class="pt-4">
                            <img src="~/Content/img/iconos-crisol.png" alt="">
                            <div class="row">
                                <div class="col-md-6 col-lg-4 col-xl-3 py-4">
                                    <div class="border-coleccionables">
                                        <a href="~/Content/descargas/cumplimiento/politica-de-cumplimiento-2023.pdf" target="_blank">
                                            <img src="~/Content/img/04-sostenibilidad/04-04-cumplimiento/gestion-de-cumplimiento/politica-de-cumplimiento-2023.jpg" alt="" class="img-fluid zoom-img">
                                        </a>
                                    </div>
                                    <div class="pt-4">
                                        <h5 class="fuente-3">
                                            Política de Cumplimiento
                                        </h5>
                                        <a href="~/Content/descargas/cumplimiento/politica-de-cumplimiento-2023.pdf" class="btn-descarga" target="_blank">
                                            Descargar
                                            <span class="btn-descarga-icon btn-descarga-dorado">
                                                <img src="~/Content/img/icon-descarga.png" alt="Descargar" class="img-icon">
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4 col-xl-3 py-4 ">
                                    <div class="border-coleccionables">
                                        <a href="~/Content/descargas/cumplimiento/declaracion-de-sostenibilidad.pdf" target="_blank">
                                            <img src="~/Content/img/04-sostenibilidad/04-04-cumplimiento/gestion-de-cumplimiento/declaracion-de-sostenibilidad.jpg" alt="" class="img-fluid zoom-img">
                                        </a>
                                    </div>
                                    <div class="pt-4">
                                        <h5 class="fuente-3">
                                            Declaración de Sostenibilidad
                                        </h5>
                                        <a href="~/Content/descargas/cumplimiento/declaracion-de-sostenibilidad.pdf" class="btn-descarga" target="_blank">
                                            Descargar
                                            <span class="btn-descarga-icon btn-descarga-dorado">
                                                <img src="~/Content/img/icon-descarga.png" alt="Descargar" class="img-icon">
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4 col-xl-3 py-4">
                                    <div class="border-coleccionables">
                                        <a href="~/Content/descargas/cumplimiento/codigo-etica-y-conducta-2024.pdf" target="_blank">
                                            <img src="~/Content/img/04-sostenibilidad/04-04-cumplimiento/gestion-de-cumplimiento/codigo-etica-y-conducta-2024.jpg" alt="" class="img-fluid zoom-img">
                                        </a>
                                    </div>
                                    <div class="pt-4">
                                        <h5 class="fuente-3">
                                            Código de Ética y Conducta
                                        </h5>
                                        <a href="~/Content/descargas/cumplimiento/codigo-etica-y-conducta-2024.pdf" class="btn-descarga" target="_blank">
                                            Descargar
                                            <span class="btn-descarga-icon btn-descarga-dorado">
                                                <img src="~/Content/img/icon-descarga.png" alt="Descargar" class="img-icon">
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4 col-xl-3 py-4">
                                    <div class="border-coleccionables">
                                        <a href="~/Content/descargas/cumplimiento/manual-plaft.pdf" target="_blank">
                                            <img src="~/Content/img/04-sostenibilidad/04-04-cumplimiento/gestion-de-cumplimiento/manual-plaft.jpg" alt="" class="img-fluid zoom-img">
                                        </a>
                                    </div>
                                    <div class="pt-4">
                                        <h5 class="fuente-3">
                                            Manual PLAFT
                                            <br>
                                            <br>
                                        </h5>
                                        <a href="~/Content/descargas/cumplimiento/manual-plaft.pdf" class="btn-descarga" target="_blank">
                                            Descargar
                                            <span class="btn-descarga-icon btn-descarga-dorado">
                                                <img src="~/Content/img/icon-descarga.png" alt="Descargar" class="img-icon">
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="pt-4">
                                <img src="~/Content/img/iconos-crisol.png" alt="">
                                <div class="row">
                                    <div class="col-md-6 col-lg-4 col-xl-3 py-4">
                                        <div class="border-coleccionables">
                                            <a href="~/Content/descargas/cumplimiento/Manual-de-Politica-de-Hostigamiento-Sexual.pdf" target="_blank">
                                                <img src="~/Content/img/01-quienes-somos/quienes-somos/manual-de-hostigamiento-sexual.jpg" alt="" class="img-fluid zoom-img">
                                            </a>
                                        </div>
                                        <div class="pt-4">
                                            <h5 class="fuente-3">
                                                PolÍtica de Hostigamiento Sexual
                                            </h5>
                                            <a href="~/Content/descargas/cumplimiento/Manual-de-Politica-de-Hostigamiento-Sexual.pdf" class="btn-descarga" target="_blank">
                                                Descargar
                                                <span class="btn-descarga-icon btn-descarga-dorado">
                                                    <img src="~/Content/img/icon-descarga.png" alt="Descargar" class="img-icon">
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-4 col-xl-3 py-4 ">
                                        <div class="border-coleccionables">
                                            <a href="/Content/descargas/cumplimiento/Manual-lineamientos-para-la-gestion-de-equidad.pdf" target="_blank">
                                                <img src="~/Content/img/01-quienes-somos/quienes-somos/manual-lineamientos-para-la-gestion-de-equidad.jpg" alt="" class="img-fluid zoom-img">
                                            </a>
                                        </div>
                                        <div class="pt-4">
                                            <h5 class="fuente-3">
                                                Lineamientos para<br> la Gestión de Equidad
                                            </h5>
                                            <a href="~/Content/descargas/cumplimiento/Manual-lineamientos-para-la-gestion-de-equidad.pdf" class="btn-descarga" target="_blank">
                                                Descargar
                                                <span class="btn-descarga-icon btn-descarga-dorado">
                                                    <img src="~/Content/img/icon-descarga.png" alt="Descargar" class="img-icon">
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @Html.Partial("~/Views/Shared/_footer.cshtml")
</body>
@Html.Partial("~/Views/Shared/_foot.cshtml")
    </html>
