
@Html.Partial("~/Views/Shared/_head.cshtml")
<!-- METAS -->
<title>Premios y reconocimientos | PODEROSA</title>
<!-- Basic HTML Meta Tags -->
<meta name='title' content='Premios y reconocimientos | PODEROSA' />
<meta name='description' content='PODEROSA ha ganado multiples premios y reconocimientos a lo largo de los años. Presentamos los más recientes en el siguiente cuadro:' />
<meta name='url' content='http://www.poderosa.com.pe/quienes-somos/premios-y-reconocimientos' />
<meta name='keywords' content='premios, reconocimientos, poderosa' />
<!-- OpenGraph Meta Tags -->
<meta property='og:type' content='website' />
<meta property='og:title' content='Premios y reconocimientos | PODEROSA' />
<meta property='og:description' content='PODEROSA ha ganado multiples premios y reconocimientos a lo largo de los años. Presentamos los más recientes en el siguiente cuadro:' />
<meta property='og:url' content='http://www.poderosa.com.pe/quienes-somos/premios-y-reconocimientos' />
<meta property='og:image' content='http://www.poderosa.com.pe/Content/img/01-quienes-somos/premios-y-reconocimientos/compartir.jpg' />
<link rel="stylesheet" href="~/Content/css/modules/_tabla-premios.css" asp-append-version="true">
</head>
<body>
    <div class="menuSecuVelo"></div>
    @Html.Partial("~/Views/Shared/_header.cshtml")
    <div class="pt-4">
        <div class="bannerInterno__contenedor">
            <img src="~/Content/img/cabeceras/01-quienes-somos/premios-y-reconocimientos/01.jpg" class="img-fluid  w-100 d-none  d-lg-block" alt="">
            <img src="~/Content/img/cabeceras/01-quienes-somos/premios-y-reconocimientos/01-tablet.jpg" class="img-fluid  d-none d-md-block d-sm-none d-lg-none" alt="">
            <img src="~/Content/img/cabeceras/01-quienes-somos/premios-y-reconocimientos/01-movil.jpg" class="img-fluid  d-block d-md-none d-lg-none" alt="">
            <img src="~/Content/img/pagina-interna/forma-dorada-transparente.png" class="img-fluid bannerInterno__dorada" alt="...">
            <div class="bannerInterno__texto">
                <h1 class="bannerInterno__titulo fuente-3">
                    Premios y reconocimientos
                </h1>
            </div>
            <img src="~/Content/img/pagina-interna/forma-dorada.png" class="img-fluid bannerInterno__small" alt="">
        </div>
    </div>

    <main>
        <section class="section-spacing ">
            <div class="container">
                <p class="fuente-4">PODEROSA ha ganado multiples premios y reconocimientos a lo largo de los años. Presentamos los más recientes en el siguiente cuadro:</p>
            </div>
        </section>

        <div class="container section-spacing-bottom">
            <div class="row mb-4">
                <!-- Columna de la Fecha -->
                <div class="col-12 col-md-2 text-start mb-4 mb-lg-0">
                    <strong class="fuente-3 d-block">Diciembre</strong>
                    <strong class="fuente-3 d-block">2024</strong>
                </div>

                <!-- Columna del Premio e Icono alineado arriba -->
                <div class="col-12 col-md-10 d-flex flex-row align-items-start gap-3">
                    <img src="~/Content/img/icon-ribbon.png" alt="Medalla" class="img-fluid" style="max-width: 50px;">
                    <div>
                        <span class="titulo-premio dorado">
                            Premio 5S Kaizen – Oficinas administrativas de Trujillo y Lima – Gran premio oro absoluto
                        </span>
                        <br>
                        <strong class="fuente-3">Otorga: </strong>
                        <p class="texto-premio">AOTS (Association for Overseas Technical Cooperation and Sustainable Partnerships)</p>
                    </div>
                </div>
            </div>

            <hr class="separador">

            <div class="row mt-4">
                <!-- Columna de la Fecha -->
                <div class="col-12 col-md-2 text-start mb-4 mb-lg-0">
                    <strong class="fuente-3 d-block">Diciembre</strong>
                    <strong class="fuente-3 d-block">2024</strong>
                </div>

                <!-- Columna del Premio e Icono alineado arriba -->
                <div class="col-12 col-md-10 d-flex flex-row align-items-start gap-3">
                    <img src="~/Content/img/icon-ribbon.png" alt="Medalla" class="img-fluid" style="max-width: 50px;">
                    <div>
                        <span class="titulo-premio dorado">
                            Premio 5S Kaizen - Unidad de producción Marañón y Santa María - Oro
                        </span>
                        <br>
                        <strong class="fuente-3">Otorga: </strong>
                        <p class="texto-premio">AOTS (Association for Overseas Technical Cooperation and Sustainable Partnerships)</p>
                    </div>
                </div>
            </div>


            <hr class="separador">

            <div class="row mt-4">
                <!-- Columna de la Fecha -->
                <div class="col-12 col-md-2 text-start mb-4 mb-lg-0">
                    <strong class="fuente-3 d-block">Diciembre</strong>
                    <strong class="fuente-3 d-block">2024</strong>
                </div>
                <!-- Columna del Icono -->

                <div class="col-12 col-md-10 d-flex flex-row align-items-start gap-3">
                    <img src="~/Content/img/icon-ribbon.png" alt="Medalla" class="img-fluid" style="max-width: 50px;">
                    <div>
                        <span class="titulo-premio dorado">
                            Premio 5S Kaizen - Asociación Pataz - Plata
                        </span>
                        <br>
                        <strong class="fuente-3">Otorga: </strong>
                        <p class="texto-premio">AOTS (Association for Overseas Technical Cooperation and Sustainable Partnerships)</p>
                    </div>
                </div>
            </div>


            <hr class="separador">

            <div class="row mt-4">
                <!-- Columna de la Fecha -->
                <div class="col-12 col-md-2 text-start mb-4 mb-lg-0">
                    <strong class="fuente-3 d-block">Noviembre</strong>
                    <strong class="fuente-3 d-block">2024</strong>
                </div>
                <!-- Columna del Icono -->

                <div class="col-12 col-md-10 d-flex flex-row align-items-start gap-3">
                    <img src="~/Content/img/icon-ribbon.png" alt="Medalla" class="img-fluid" style="max-width: 50px;">
                    <div>
                        <span class="titulo-premio dorado">
                            Galardón plata en el Premio Iberoamericano de la Calidad 2024
                        </span>
                        <br>
                        <strong class="fuente-3">Otorga: </strong>
                        <p class="texto-premio">FUNDIBEQ</p>
                    </div>
                </div>
            </div>



            <hr class="separador">

            <div class="row mt-4">
                <!-- Columna de la Fecha -->
                <div class="col-12 col-md-2 text-start mb-4 mb-lg-0">
                    <strong class="fuente-3 d-block">Octubre</strong>
                    <strong class="fuente-3 d-block">2024</strong>
                </div>
                <!-- Columna del Icono -->

                <div class="col-12 col-md-10 d-flex flex-row align-items-start gap-3">
                    <img src="~/Content/img/icon-ribbon.png" alt="Medalla" class="img-fluid" style="max-width: 50px;">
                    <div>
                        <span class="titulo-premio dorado">
                            4 Galardones por reconocimiento a las mejores prácticas de excelencia en la categoría producción
                        </span>
                        <br>
                        <strong class="fuente-3">Otorga: </strong>
                        <p class="texto-premio">Comité de gestión de la calidad de la Sociedad Nacional de Industrias (SNI)</p>
                    </div>
                </div>
            </div>

            <hr class="separador">

            <div class="row mt-4">
                <!-- Columna de la Fecha -->
                <div class="col-12 col-md-2 text-start mb-4 mb-lg-0">
                    <strong class="fuente-3 d-block">Julio</strong>
                    <strong class="fuente-3 d-block">2024</strong>
                </div>
                <!-- Columna del Icono -->

                <div class="col-12 col-md-10 d-flex flex-row align-items-start gap-3">
                    <img src="~/Content/img/icon-ribbon.png" alt="Medalla" class="img-fluid" style="max-width: 50px;">
                    <div>
                        <span class="titulo-premio dorado">
                            Distintivo Empresa con Gestión Sostenible
                        </span>
                        <br>
                        <strong class="fuente-3">Otorga: </strong>
                        <p class="texto-premio">Perú Sostenible</p>
                    </div>
                </div>
            </div>


            <hr class="separador">

            <div class="row mt-4">
                <!-- Columna de la Fecha -->
                <div class="col-12 col-md-2 text-start mb-4 mb-lg-0">
                    <strong class="fuente-3 d-block">Abril</strong>
                    <strong class="fuente-3 d-block">2024</strong>
                </div>
                <!-- Columna del Icono -->

                <div class="col-12 col-md-10 d-flex flex-row align-items-start gap-3">
                    <img src="~/Content/img/icon-ribbon.png" alt="Medalla" class="img-fluid" style="max-width: 50px;">
                    <div>
                        <span class="titulo-premio dorado">
                            Certificado I-REC
                        </span>
                        <br>
                        <strong class="fuente-3">Otorga: </strong>
                        <p class="texto-premio">Kallpa</p>
                    </div>
                </div>
            </div>

            <hr class="separador">

            <div class="row mt-4">
                <!-- Columna de la Fecha -->
                <div class="col-12 col-md-2 text-start mb-4 mb-lg-0">
                    <strong class="fuente-3 d-block">Abril</strong>
                    <strong class="fuente-3 d-block">2024</strong>
                </div>
                <!-- Columna del Icono -->

                <div class="col-12 col-md-10 d-flex flex-row align-items-start gap-3">
                    <img src="~/Content/img/icon-ribbon.png" alt="Medalla" class="img-fluid" style="max-width: 50px;">
                    <div>
                        <span class="titulo-premio dorado">
                            Distintivo recicla 2023
                        </span>
                        <br>
                        <strong class="fuente-3">Otorga: </strong>
                        <p class="texto-premio">Claro Perú</p>
                    </div>
                </div>
            </div>



            <hr class="separador">

            <div class="row mt-4">
                <!-- Columna de la Fecha -->
                <div class="col-12 col-md-2 text-start mb-4 mb-lg-0">
                    <strong class="fuente-3 d-block">Diciembrel</strong>
                    <strong class="fuente-3 d-block">2023</strong>
                </div>
                <!-- Columna del Icono -->

                <div class="col-12 col-md-10 d-flex flex-row align-items-start gap-3">
                    <img src="~/Content/img/icon-ribbon.png" alt="Medalla" class="img-fluid" style="max-width: 50px;">
                    <div>
                        <span class="titulo-premio dorado">
                            Certificado Azul a Compañía Minera Poderosa S.A., unidades de producción Marañón y Santa María
                        </span>
                        <br>
                        <strong class="fuente-3">Otorga: </strong>
                        <p class="texto-premio">Autoridad Nacional del Agua - ANA</p>
                    </div>
                </div>
            </div>

            <hr class="separador">

            <div class="row mt-4">
                <!-- Columna de la Fecha -->
                <div class="col-12 col-md-2 text-start mb-4 mb-lg-0">
                    <strong class="fuente-3 d-block">Diciembrel</strong>
                    <strong class="fuente-3 d-block">2023</strong>
                </div>
                <!-- Columna del Icono -->

                <div class="col-12 col-md-10 d-flex flex-row align-items-start gap-3">
                    <img src="~/Content/img/icon-ribbon.png" alt="Medalla" class="img-fluid" style="max-width: 50px;">
                    <div>
                        <span class="titulo-premio dorado">
                            Resolución jefatural n° 0393-2023-ana
                        </span>
                        <br>
                        <strong class="fuente-3">Otorga: </strong>
                        <p class="texto-premio">Autoridad Nacional del Agua - ANA</p>
                    </div>
                </div>
            </div>

            <hr class="separador">

            <div class="row mt-4">
                <!-- Columna de la Fecha -->
                <div class="col-12 col-md-2 text-start mb-4 mb-lg-0">
                    <strong class="fuente-3 d-block">Diciembrel</strong>
                    <strong class="fuente-3 d-block">2023</strong>
                </div>
                <!-- Columna del Icono -->

                <div class="col-12 col-md-10 d-flex flex-row align-items-start gap-3">
                    <img src="~/Content/img/icon-ribbon.png" alt="Medalla" class="img-fluid" style="max-width: 50px;">
                    <div>
                        <span class="titulo-premio dorado">
                            Reconocimiento a poderosa por su valioso apoyo y compromiso con el desarrollo del Perú
                        </span>
                        <br>
                        <strong class="fuente-3">Otorga: </strong>
                        <p class="texto-premio"> Universidad Nacional de Cajamarca</p>
                    </div>
                </div>
            </div>


            <hr class="separador">

            <div class="row mt-4">
                <!-- Columna de la Fecha -->
                <div class="col-12 col-md-2 text-start mb-4 mb-lg-0">
                    <strong class="fuente-3 d-block">Noviembre</strong>
                    <strong class="fuente-3 d-block">2023</strong>
                </div>
                <!-- Columna del Icono -->

                <div class="col-12 col-md-10 d-flex flex-row align-items-start gap-3">
                    <img src="~/Content/img/icon-ribbon.png" alt="Medalla" class="img-fluid" style="max-width: 50px;">
                    <div>
                        <span class="titulo-premio dorado">
                            Diploma otorgado a Compañía Minera Poderosa por haber alcanzado el
                            mejor desempeño como gran empresa en el sector minero en la
                            categoría de diversificación de producto
                        </span>
                        <br>
                        <strong class="fuente-3">Otorga: </strong>
                        <p class="texto-premio">   Gobierno Regional La Libertad y comité ejecutivo regional exportador La Libertad</p>
                    </div>
                </div>
            </div>




            <hr class="separador">

            <div class="row mt-4">
                <!-- Columna de la Fecha -->
                <div class="col-12 col-md-2 text-start mb-4 mb-lg-0">
                    <strong class="fuente-3 d-block">Noviembre</strong>
                    <strong class="fuente-3 d-block">2023</strong>
                </div>
                <!-- Columna del Icono -->

                <div class="col-12 col-md-10 d-flex flex-row align-items-start gap-3">
                    <img src="~/Content/img/icon-ribbon.png" alt="Medalla" class="img-fluid" style="max-width: 50px;">
                    <div>
                        <span class="titulo-premio dorado">
                            Diploma otorgado a Compañía Minera Poderosa por haber
                            implementado el proyecto de responsabilidad social empresarial con
                            enfoque agrícola en beneficio de la población
                        </span>
                        <br>
                        <strong class="fuente-3">Otorga: </strong>
                        <p class="texto-premio">   Gobierno Regional La Libertad y comité ejecutivo regional exportador La Libertad</p>
                    </div>
                </div>
            </div>

            <hr class="separador">

            <div class="row mt-4">
                <!-- Columna de la Fecha -->
                <div class="col-12 col-md-2 text-start mb-4 mb-lg-0">
                    <strong class="fuente-3 d-block">Noviembre</strong>
                    <strong class="fuente-3 d-block">2023</strong>
                </div>
                <!-- Columna del Icono -->

                <div class="col-12 col-md-10 d-flex flex-row align-items-start gap-3">
                    <img src="~/Content/img/icon-ribbon.png" alt="Medalla" class="img-fluid" style="max-width: 50px;">
                    <div>
                        <span class="titulo-premio dorado">
                            Líder de la innovación social con enfoque a misiones en el Perú
                        </span>
                        <br>
                        <strong class="fuente-3">Otorga: </strong>
                        <p class="texto-premio"> Comité Regional Empresa, Estado, Academia y Sociedad Civil Organizada - CREEAS La Libertad</p>
                    </div>
                </div>
            </div>

            <hr class="separador">

            <div class="row mt-4">
                <!-- Columna de la Fecha -->
                <div class="col-12 col-md-2 text-start mb-4 mb-lg-0">
                    <strong class="fuente-3 d-block">Octubre</strong>
                    <strong class="fuente-3 d-block">2023</strong>
                </div>
                <!-- Columna del Icono -->

                <div class="col-12 col-md-10 d-flex flex-row align-items-start gap-3">
                    <img src="~/Content/img/icon-ribbon.png" alt="Medalla" class="img-fluid" style="max-width: 50px;">
                    <div>
                        <span class="titulo-premio dorado">
                            Reconocimiento por su valiosa contribución a la gestión reactiva
                            del riesgo de desastres durante el período 2022-2023, en
                            beneficio de la población en situación de vulnerabilidad en el
                            país
                        </span>
                        <br>
                        <strong class="fuente-3">Otorga: </strong>
                        <p class="texto-premio"> Instituto Nacional de Defensa Civil (INDECI)</p>
                    </div>
                </div>
            </div>


            <hr class="separador">

            <div class="row mt-4">
                <!-- Columna de la Fecha -->
                <div class="col-12 col-md-2 text-start mb-4 mb-lg-0">
                    <strong class="fuente-3 d-block">Octubre</strong>
                    <strong class="fuente-3 d-block">2023</strong>
                </div>
                <!-- Columna del Icono -->

                <div class="col-12 col-md-10 d-flex flex-row align-items-start gap-3">
                    <img src="~/Content/img/icon-ribbon.png" alt="Medalla" class="img-fluid" style="max-width: 50px;">
                    <div>
                        <span class="titulo-premio dorado">
                            Premio nacional de la calidad - medalla de oro
                        </span>
                        <br>
                        <strong class="fuente-3">Otorga: </strong>
                        <p class="texto-premio"> Instituto Nacional de Defensa Civil (INDECI)</p>
                    </div>
                </div>
            </div>


            <hr class="separador">

            <div class="row mt-4">
                <!-- Columna de la Fecha -->
                <div class="col-12 col-md-2 text-start mb-4 mb-lg-0">
                    <strong class="fuente-3 d-block">Octubre</strong>
                    <strong class="fuente-3 d-block">2023</strong>
                </div>
                <!-- Columna del Icono -->

                <div class="col-12 col-md-10 d-flex flex-row align-items-start gap-3">
                    <img src="~/Content/img/icon-ribbon.png" alt="Medalla" class="img-fluid" style="max-width: 50px;">
                    <div>
                        <span class="titulo-premio dorado">
                            Líder en calidad categoría oro
                        </span>
                        <br>
                        <strong class="fuente-3">Otorga: </strong>
                        <p class="texto-premio">    Sociedad Nacional de Industrias (SNI)</p>
                    </div>
                </div>
            </div>


        </div>
        </section>

        <section class="section-spacing-bottom">
            <div class="container   contenedor-lista">
                <div class="row">
                    <div class="text-center">
                        <a class="boton-icono boton-icono--dorado d-flex align-items-center justify-content-center" href="~/Content/descargas/premios-y-reconocimientos/premios-y-reconocimientos-2024.pdf" target="_blank">
                            <img class="boton-icono__img svg img2 " src="~/Content/img/icon-circular-descarga.png" alt="ico">
                            <h5 class="fuente-3 mb-0 px-3">Descargar años anteriores</h5>
                        </a>
                    </div>

                </div>
            </div>
        </section>

        <section class=" section-spacing-bottom text-center text-md-start">
            <div class="container">
                <div>
                    <h3 class="fuente-3 my-5">Nuestros<span class="dorado"> Distintivos y Reconocimientos:</span></h3>
                </div>
                <div class="row mb-4">
                    <div class="col-12 col-md-6  mb-5">
                        <h5 class="fuente-3">
                            Distintivo Empresa <br>con Gestión Sostenible
                        </h5>
                        <img class="img-fluid zoom-img border border-dark border-2" src="~/Content/img/01-quienes-somos/premios-y-reconocimientos/certificado-4.jpg" />

                    </div>

                    <div class="col-12 col-md-6  mb-5">
                        <h5 class="fuente-3">Reconocimiento ABE<br /><br /></h5>
                        <img class="img-fluid zoom-img border border-dark border-2" src="~/Content/img/01-quienes-somos/premios-y-reconocimientos/certificado-5.jpg" alt="Certificado ABE" />

                    </div>





                </div>
            </div>
        </section>
    </main>


    @Html.Partial("~/Views/Shared/_footer.cshtml")

</body>
@Html.Partial("~/Views/Shared/_foot.cshtml")
</html>

