#filtroPanel {
    display: none;
    position: absolute;
    z-index: 10;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    padding: 12px 18px;
    top: 40px;
    right: 0;
    min-width: 120px;
}

.filtro-btn {
    display: block;
    text-align: left;
    width: 100%;
    color: #333;
    background: none;
    border: none;
    padding: 8px 0;
    transition: color 0.2s;
}

    .filtro-btn.active {
        color: #C9A13B !important; /* Dorado */
        font-weight: bold;
    }

.filtro-container {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}

.filtro-icono {
    width: 25px;
    height: 25px;
}

.filtro-texto {
    margin-left: 8px;
    font-weight: 500;
}

/*Paginación*/
.paginate-pagination {
    display: flex !important;
    justify-content: center;
    margin-top: 24px;
    list-style: none;
    padding-left: 0;
}

    .paginate-pagination li {
        margin: 0 2px;
    }

        .paginate-pagination li a,
        .paginate-pagination li span {
            display: block;
            padding: 8px 14px;
            color: #bfa046; /* dorado */
            background: #fff;
            border: 1px solid #bfa046;
            border-radius: 4px;
            text-decoration: none;
            font-weight: 600;
            transition: background 0.2s, color 0.2s;
        }

        .paginate-pagination li.active a,
        .paginate-pagination li.active span {
            background: #bfa046;
            color: #fff;
            border-color: #bfa046;
        }

        .paginate-pagination li a:hover {
            background: #bfa046;
            color: #fff;
        }