<footer class="gris-oscuro-3 px-4 px-lg-0">
    <div class="container text-center py-5">
        <img src="~/Content/img/Recurso-12.png" alt="" class="img-fluid">
        <p class="fuente-5 rosado py-4  w-75 mx-auto">
            Oficinas Lima: Av. La Floresta 497, San Borja, Lima, Perú - 01 6172727 <br>
            Minera Poderosa - Todos los derechos reservados 2025
        </p>
        <div class="d-flex justify-content-center gap-3 pb-5">
            <a href="https://www.facebook.com/MineraPoderosa" target="_blank">
                <img src="~/Content/img/facebook.png" class="img-fluid">
            </a>
            <a href="https://www.linkedin.com/company/compa-ia-minera-poderosa-s-a-/" target="_blank">
                <img src="~/Content/img/LinkedIn.png" class="img-fluid">
            </a>
            <a href="https://www.instagram.com/minerapoderosa/" target="_blank">
                <img src="~/Content/img/ig.png" class="img-fluid">
            </a>

            <a href="https://www.youtube.com/%40minera_poderosa" target="_blank">
                <img src="~/Content/img/youtube.png" class="img-fluid">
            </a>
        </div>

    </div>
</footer>