@{
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

@Html.Partial("~/Views/Shared/_head.cshtml")
<!-- METAS -->
<title>Inicio | PODEROSA</title>
<!-- Basic HTML Meta Tags -->
<meta name='title' content='Inicio | PODEROSA' />
<meta name='description' content='Empresa minera aurífera ubicada en el distrito y provincia de Pataz, a casi 320 Km de la ciudad de Trujillo, a una altura que va entre los 1,250 y 3,000 m.s.n.m. en la región La Libertad, Perú. Con oficinas administrativas y almacenes en Lima y Trujillo.' />
<meta name='url' content='https://www.poderosa.com.pe/home/quienes-somos' />
<meta name='keywords' content='minera poderosa, asociación pataz' />
<!-- OpenGraph Meta Tags -->
<meta property='og:type' content='website' />
<meta property='og:title' content='Inicio | PODEROSA' />
<meta property='og:description' content='Empresa minera aurífera ubicada en el distrito y provincia de Pataz, a casi 320 Km de la ciudad de Trujillo, a una altura que va entre los 1,250 y 3,000 m.s.n.m. en la región La Libertad, Perú. Con oficinas administrativas y almacenes en Lima y Trujillo.' />
<meta property='og:url' content='https://www.poderosa.com.pe/home/quienes-somos' />
<meta property='og:image' content='https://www.poderosa.com.pe/Content/img/compartir.jpg' />
</head>
<body>
    <div class="menuSecuVelo"></div>
    @Html.Partial("~/Views/Shared/_header.cshtml")
    <div class="pt-4 ">
        <div class="bannerInterno__contenedor">
            <img src="~/Content/img/cabeceras/03-calidad-e-innovacion/03-02-gestion-de-la-calidad/01.jpg" class="img-fluid  w-100 d-none  d-lg-block" alt="">
            <img src="~/Content/img/cabeceras/03-calidad-e-innovacion/03-02-gestion-de-la-calidad/01-tablet.jpg" class="img-fluid  d-none d-md-block d-sm-none d-lg-none" alt="">
            <img src="~/Content/img/cabeceras/03-calidad-e-innovacion/03-02-gestion-de-la-calidad/01-movil.jpg" class="img-fluid  d-block d-md-none d-lg-none" alt="">
            <img src="~/Content/img/pagina-interna/forma-dorada-transparente.png" class="img-fluid bannerInterno__dorada" alt="...">
            <div class="bannerInterno__texto">

                <h1 class="bannerInterno__titulo-largo fuente-3">
                    Gestión De La Calidad
                </h1>
            </div>
            <img src="imagenes/pagina-interna/forma-dorada.png" class="img-fluid bannerInterno__small" alt="">
        </div>

        <section class="pt-5">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">

                        <p class="fuente-4 pb-5">
                            Nuestros altos líderes respaldan y motivan al personal hacia la mejora continua en todos los procesos en la práctica del <strong class="fuente-3">COLPA </strong> y este trabajo es reconocido con el galardón más importante en el marco de actividades de la Semana de la Calidad, el evento interno más destacado dentro de nuestra empresa.
                        </p>
                    </div>

                </div>
            </div>
        </section>

        <section>
            <div class="container text-center">
                <div class="row ">
                    <div class="col-6  col-md-6 col-lg-3 pb-5">
                        <img src="~/Content/img/pagina-interna-4/circulo-1.png" alt="" class="img-fluid">
                    </div>
                    <div class="col-6 col-md-6  col-lg-3 pb-5">
                        <img src="~/Content/img/03-calidad-e-innovacion/03-02-gestion-de-calidad/02.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="order-4  order-sm-4 order-lg-3 col-6 col-md-6 col-lg-3 pb-5 ">
                        <img src="~/Content/img/pagina-interna-4/circulo-3.png" alt="" class="img-fluid">
                    </div>
                    <div class="col-6 order-sm-3 col-md-6 col-lg-3 pb-5 ">
                        <img src="~/Content/img/03-calidad-e-innovacion/03-02-gestion-de-calidad/03.jpg" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </section>

        <section class="py-5">
            <div class="bloque-de-4">
                <div class="row ">
                    <div class="col-lg-6 bg-gris-2">
                        <div class="bloque-de-4-derecho">
                            <h2 class="fuente-3 dorado ">Semana de la Calidad Poderosa</h2>
                            <p class="fuente-4 blanco ">Desde 2002, Poderosa participa activamente en la Semana de la Calidad de la Sociedad Nacional de Industrias, donde los ganadores de la Semana de la Calidad de la empresa participan por el reconocimiento a las mejores prácticas de excelencia.</p>
                        </div>
                    </div>
                    <div class="col-lg-6  bg-gris-oscuro-4 ">
                        <div class="bloque-de-4-izquierdo">
                            <h2 class="fuente-3 dorado">Semana de la Calidad – Sociedad Nacional de Industrias</h2>
                            <p class="fuente-4 blanco">Poderosa recibió este premio en el 2023, destacándose como un referente en prácticas de gestión. Este galardón se otorga a las empresas que demuestran una gestión de calidad excepcional y tiene como propósito apoyar a las organizaciones en la implementación de sistemas integrales de calidad y productividad.</p>
                        </div>
                    </div>
                </div>
                <div class="bloque-de-4-img">
                    <img src="~/Content/img/pagina-interna-4/icono-dorado-transparente.png" alt="" class="img-fluid ">
                </div>
            </div>
        </section>

        <section class=" py-5">
            <div class="container">
                <div class="contenedor-tres-filas">
                    <div class=" text-center">
                        <h2 class="fuente-3 dorado pb-3">
                            Premio Nacional a la Calidad - Reconocimiento más importante en Perú
                        </h2>
                        <div class="row ">
                            <div class="col-lg-6 contenedor-tres-filas__img">
                                <img src="~/Content/img/03-calidad-e-innovacion/03-02-gestion-de-calidad/04.jpg" alt="" class="img-fluid ">
                            </div>
                            <div class="col-lg-6">
                                <p class="text-start">Poderosa recibió este premio en el 2023, destacándose como un referente en prácticas de gestión. </p>
                                <div class="contenedor-tres-filas__texto pb-3">

                                    <div><img src="~/Content/img/proveedores/ico-03.png" alt="" class="px-4"></div>
                                    <p class=" fuente-4">
                                        Este galardón se otorga a las empresas que demuestran una gestión de calidad excepcional y tiene como propósito apoyar a las organizaciones en la implementación de sistemas integrales de calidad y productividad.
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="bg-dorado-claro-1 py-5">
            <div class="contendor-iconos py-0 py-lg-5 d-flex align-items-center">
                <img src="~/Content/img/pagina-interna/forma-gris-transparente.png" alt="" class="contendor-iconos-img-1 img-fluid">
                <img src="~/Content/img/pagina-interna/forma-gris-transparente.png" alt="" class="contendor-iconos-img-2 img-fluid" 4="">
                <div class="container text-center">
                    <div class="row">
                        <div class="col-sm-4 fuente-4 text-start">
                            <img src="~/Content/img/iconos-crisol.png" alt="">
                            <h2 class="fuente-3 dorado pt-2">Gestión De Las Isos</h2>
                            <p>
                                Para garantizar una operación responsable con el entorno, y la seguridad y salud de las personas, utilizamos altos estándares internacionales en nuestros procesos que nos ayudan a tomar decisiones y acciones para mejorar continuamente.
                            </p>
                        </div>
                        <div class="col-sm-4 text-center">
                            <img src="~/Content/img/03-calidad-e-innovacion/03-02-gestion-de-calidad/05.jpg" alt="" class="img-fluid rounded-80">
                        </div>
                        <div class="col-sm-4 fuente-4 text-start">
                            <div class="   contenedor-lista pb-5 pb-lg-0">
                                <p><strong class="fuente-4">Contamos con las certificaciones: </strong> </p>
                                <ul class="fuente-4">
                                    <li class="pb-2 "><strong class="fuente-4">ISO 9001:2015:</strong>  Sistema de gestión de la calidad</li>
                                    <li class="pb-2 "><strong class="fuente-4">ISO 14001:2015:</strong> Sistema de gestión ambiental</li>
                                    <li class="pb-2 "> <strong class="fuente-4">ISO 45001:2018: </strong>Sistema de gestión de seguridad y salud ocupacional</li>
                                    <li class="pb-2 ">
                                        A ellas se suman la certificación <strong class="fuente-4"> ISO 37001:2016:</strong> Sistema de Gestión Antisoborno y la Certificación Antisoborno otorgada por la asociación Empresarios por la Integridad.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    @Html.Partial("~/Views/Shared/_footer.cshtml")
</body>
@Html.Partial("~/Views/Shared/_foot.cshtml")
</html>
