@Html.Partial("~/Views/Shared/_head.cshtml")
<!-- METAS -->
<title>Canal de Ética | PODEROSA</title>
<!-- Basic HTML Meta Tags -->
<meta name="title" content="Canal de Ética | PODEROSA">
<meta name="description" content="Descubre el Canal de Ética de PODEROSA, un espacio seguro y confidencial para reportar irregularidades, promover la transparencia y reforzar el compromiso con la ética y la integridad empresarial.">
<meta name="url" content="https://www.poderosa.com.pe/sostenibilidad/gestion-de-cumplimiento/canal-de-etica">
<meta name="keywords" content="minera poderosa, canal de ética, cumplimiento normativo, integridad, transparencia, anticorrupción, denuncia ética">
<meta name="author" content="PODEROSA">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- OpenGraph Meta Tags -->
<meta property="og:type" content="article">
<meta property="og:title" content="Canal de Ética | PODEROSA">
<meta property="og:description" content="PODEROSA refuerza su compromiso con la ética y la transparencia mediante su Canal de Ética, garantizando un espacio confidencial para reportar actos irregulares.">
<meta property="og:url" content="https://www.poderosa.com.pe/sostenibilidad/gestion-de-cumplimiento/canal-de-etica">
<meta property="og:image" content="https://www.poderosa.com.pe/Content/img/04-sostenibilidad/04-04-cumplimiento/canal-de-etica/compartir.png">
</head>
<body>
    <div class="menuSecuVelo"></div>
    @Html.Partial("~/Views/Shared/_header.cshtml")
    <section class="pt-4">
        <div class="bannerInterno__contenedor">
            <img src="~/Content/img/cabeceras/04-sostenibilidad/04-cumplimiento/canal-de-etica/01.jpg" class="img-fluid  w-100 d-none  d-lg-block" alt="">
            <img src="~/Content/img/cabeceras/04-sostenibilidad/04-cumplimiento/canal-de-etica/01-tablet.jpg" class="img-fluid  d-none d-md-block d-sm-none d-lg-none" alt="">
            <img src="~/Content/img/cabeceras/04-sostenibilidad/04-cumplimiento/canal-de-etica/01-movil.jpg" class="img-fluid  d-block d-md-none d-lg-none" alt="">
            <img src="~/Content/img/pagina-interna/forma-dorada-transparente.png" class="img-fluid bannerInterno__dorada" alt="...">
            <div class="bannerInterno__texto">
                <h3 class="bannerInterno__indice fuente-5">Gestión de Cumplimiento</h3>
                <h1 class="bannerInterno__titulo fuente-3">
                    Canal de ética
                </h1>
            </div>
            <img src="~/Content/img/pagina-interna/forma-dorada.png" class="img-fluid bannerInterno__small" alt="">
        </div>
    </section>

    <section class=" py-5">
        <div class="container my-5">
            <div class="contenedor-tres-filas">
                <div class=" text-center">
                    <h2 class="fuente-3  dorado">Canal ética </h2>
                    <p class="">
                        Poderosa cuenta con un Canal de ética para que los trabajadores y demás grupos de interés puedan reportar actos irregulares, conductas antiéticas o cualquier desviación a nuestras obligaciones de cumplimiento, la información recibida en el canal se gestiona de manera confidencial y también se permite realizar denuncias de manera anónima. Garantizamos que no habrá represalias para las denuncias realizadas de buena fe.<br>
                    </p>
                    <div class="row ">
                        <div class="col-lg-6 ">
                            <img src="~/Content/img/04-sostenibilidad/04-04-cumplimiento/canal-de-etica/04.jpg" alt="" class="img-fluid ">
                        </div>
                        <div class="col-lg-6">
                            <p class="text-start"><strong class=" fuente-3"> Los medios de comunicación son:</strong> </p>
                            <div class="contenedor-tres-filas__texto pb-3">
                                <div><img src="~/Content/img/04-sostenibilidad/04-04-cumplimiento/canal-de-etica/icono-01.png" alt="" class="px-4"></div>
                                <div>
                                    <span class="fuente-3 dorado">Página web</span>
                                    <p class="fuente-4">
                                        <a href="https://www.canaldeeticapoderosa.com" target="_blank" class=" fuente-4">
                                            www.canaldeeticapoderosa.com
                                        </a>
                                    </p>
                                </div>
                            </div>
                            <div class="contenedor-tres-filas__texto pb-3">
                                <div><img src="~/Content/img/04-sostenibilidad/04-04-cumplimiento/canal-de-etica/icono-02.png" alt="" class="px-4"></div>
                                <div>
                                    <span class="fuente-3 dorado">Correo electrónico</span>
                                    <p class="fuente-4">
                                        <a href="mailto: denuncias@canaldeeticapoderosa.com" target="_blank" class=" fuente-4">
                                            denuncias@canaldeeticapoderosa.com
                                        </a>
                                    </p>
                                </div>
                            </div>
                            <div class="contenedor-tres-filas__texto pb-3">
                                <div><img src="~/Content/img/04-sostenibilidad/04-04-cumplimiento/canal-de-etica/icono-03.jpg" alt="" class="px-4"></div>
                                <div>
                                    <span class="fuente-3 dorado">Buzón Fisico</span>
                                    <p class="text-start">
                                        Si se desea proporcionar información física, enviarla a la siguiente dirección de EY: Av. Víctor Andrés Belaunde 171. San Isidro - Lima.
                                    </p>
                                </div>
                            </div>
                            <div class="contenedor-tres-filas__texto pb-3">
                                <div><img src="~/Content/img/04-sostenibilidad/04-04-cumplimiento/canal-de-etica/icono-04.jpg" alt="" class="px-4"></div>
                                <div>
                                    <span class="fuente-3 dorado">Entrevista Personal</span>
                                    <p class="fuente-4">
                                        Si se desea ser atendido por los profesionales de EY, puedes dirigirte a:
                                    </p>
                                    <p> Av. Víctor Andrés Belaunde 171. San Isidro - Lima. Preguntar por: Sr.Rafael Huaman | Referencia: Canal de Ética Minera Poderosa.</br>Disponible en el horario de Lunes a Viernes de 8:30 a.m. a 6:30 p.m. o fuera de este horario previa cita.</p>
                                </div>
                            </div>
                            <div class="contenedor-tres-filas__texto pb-3">
                                <div><img src="~/Content/img/04-sostenibilidad/04-04-cumplimiento/canal-de-etica/icono-05.png" alt="" class="px-4"></div>
                                <div>
                                    <span class="fuente-3 dorado">Teléfono</span>
                                    <p class="fuente-4">
                                        <a target="_blank" class="fuente-4">
                                            0800-71-791
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container-fluid px-0 contenedor-mostaza">
            <div class="row g-0">
                <div class="col-lg-6 ">
                    <img src="~/Content/img/04-sostenibilidad/04-04-cumplimiento/canal-de-etica/03.jpg" class="img-fluid h-100">
                </div>
                <div class="col-lg-6 ">
                    <div class="contenedor-mostaza_der">
                        <div class="row">
                            <div class="col-lg-5 d-flex justify-content-center align-items-center mb-3 mb-lg-0">
                                <img src="~/Content/img/04-sostenibilidad/04-04-cumplimiento/canal-de-etica/05.png" alt="" class="img-fluid ">
                            </div>
                            <div class="col-lg-7 d-flex justify-content-center align-items-center">
                                <div class="contenedor-mostaza_text">
                                    <h1 class="fuente-3">Canal de Consultas</h1>
                                    <p class="fuente-4">
                                    <p class="fuente-4"> Para la atención de dudas, consultas, inquietudes o alguna sugerencia de mejora para nuestro Sistema de Gestión de Cumplimiento, puedes contactarnos a: <strong class="fuente-4">cumplimiento@poderosa.com.pe.</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="py-5">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <!-- Columna de la imagen -->
                <div class="col-lg-4 text-end">
                    <a href="~/Content/descargas/canal-de-etica/instructivo-para-registrar-una-denuncia-en-el-canal-de-etica.pdf" target="_blank">
                        <img src="~/Content/img/04-sostenibilidad/04-04-cumplimiento/canal-de-etica/instructivo-registra-denuncia-canal-etica.jpg" alt="Instructivo" class="img-fluid">
                    </a>
                </div>
                <!-- Columna del texto y botón -->
                <div class="col-lg-7">
                    <div class="text-start">
                        <h2 class="fuente-3 dorado">
                            Instructivo: <br>
                            Registra tu denuncia en el canal de ética
                        </h2>
                        <p>
                            Reporta cualquier incumplimiento al <strong class="fuente-3">Código de Ética, a la Política de Cumplimiento, al Manual de PLAFT, a los Derechos Humano o cualquier conducta no ética de manera segura</strong> y confidencial a través de la página web de Canal de ética. Sigue los pasos del instructivo y contribuye a fortalecer una cultura de integridad y transparencia.
                        </p>
                        <div class="text-start mt-4">
                            <a href="~/Content/descargas/canal-de-etica/instructivo-para-registrar-una-denuncia-en-el-canal-de-etica.pdf" class="button-flecha" target="_blank">
                                Descargar
                                <span class="button-flecha_icon button-flecha-dorado">▶</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @Html.Partial("~/Views/Shared/_footer.cshtml")
</body>
@Html.Partial("~/Views/Shared/_foot.cshtml")
</html>